/* Color Palette
/*https://uicolors.app/
--steel-blue-50: #f1f9fe;
--steel-blue-100: #e1f3fd;
--steel-blue-200: #bde7fa;
--steel-blue-300: #82d5f7;
--steel-blue-400: #40c1f0;
--steel-blue-500: #17aae0;
--steel-blue-600: #0a87bd;
--steel-blue-700: #096d9b;
--steel-blue-800: #0c5b80;
--steel-blue-900: #104c6a;
--steel-blue-950: #0b3046;
*/

/* Global styles
---------------------------------*/

/* Custom properties/variables  */
:root {
  --steel-blue-50: #f1f9fe;
  --steel-blue-100: #e1f3fd;
  --steel-blue-200: #bde7fa;
  --steel-blue-300: #82d5f7;
  --steel-blue-400: #40c1f0;
  --steel-blue-500: #17aae0;
  --steel-blue-600: #0a87bd;
  --steel-blue-700: #096d9b;
  --steel-blue-800: #0c5b80;
  --steel-blue-900: #104c6a;
  --steel-blue-950: #0b3046;
  --steel-grey: #dfdfdf;
  --steel-grey-2: #adadad;
  --steel-black: #181719;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Base styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--steel-blue-50);
}

h1,
h2
h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 8rem;
  text-align: left;
  line-height: 1.1;
}

h2 {
  font-size: 4rem;
  text-align: center;
  color: var(--steel-blue-500);
  padding: 50px 0;
}

h3 {
  font-size: 2.8rem;
  text-align: left;
  color: var(--steel-blue-400);
  margin: 30px 0;
  border-bottom: 2px solid var(--steel-blue-400);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--steel-blue-50);
}

img {
  display: block;
  width: 100%;
}

header {
  margin: 10px;
  text-align: left;
  font-size: 1.3em;
  /* font-weight: bold; */
}

#main-doc header {
  text-align: left;
  /* margin: 15px;*/
}

.fm-text {
  font-size: 3rem;
  font-weight: 600;
  margin-left: 0.1em;
}

.css-fm-text {
  color: var(--steel-blue-300);
}

/* nav */

#navbar {
  position: fixed;
  min-width: 220px;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 100%;
  background-color: var(--steel-blue-950);
  border-right: solid;
  border-color: var(--steel-blue-950);
}

#navbar ul {
  height: 75%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}

#navbar li {
  position: relative;
  color: #4f5053;
  border-top: 0px solid;
  list-style: none;
  width: 100%;
}

#navbar li:hover {
  background-color: var(--steel-blue-500);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--steel-blue-950);
}

::-webkit-scrollbar-thumb {
  background-color: var(--steel-blue-500);
}

::-webkit-scrollbar-button {
  background-color: var(--steel-blue-950);
}

::-webkit-scrollbar-corner {
  background-color: var(--steel-blue-950);
}

#navbar a {
  display: block;
  padding: 20px 20px;
  color: var(--steel-blue-100);
  cursor: pointer;
  text-decoration: none;
}

.position {
  line-height: 1.1;
  padding-top: 15px;
  font-size: 3rem;
  font-weight: 600;
  color: var(--steel-blue-600)
}

/* General section */

section {
  height: auto;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  width: 100%;
  line-height: 1.5;
  padding: 100px 10% 10px 290px;
  background-color: #000;
}

.section > p {
  font-size: 2rem;
  font-weight: 200;
  font-style: normal;
}

/* Sections */

/* about section */

.about {
  background-image: linear-gradient(180deg, var(--steel-black) 0%, var(--steel-black) 100%);
}

.contact {
  background-image: linear-gradient(180deg, var(--steel-black) 0%, var(--steel-blue-950) 100%);
}

.iticons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 5rem 0;
}

.p-1 {
  max-width: 100px;
  height: 30px;
  padding: 5px;
}

.about-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 4rem;
  flex-wrap: nowrap;

}

.abskills {
  margin: 0 0 0 2rem;
  color: var(--steel-blue-300);
  width: 50em;
}

/* Contact section */

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--steel-blue-900);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--steel-blue-600);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* experience section */

.experience {
  background-image: linear-gradient(180deg, var(--steel-blue-950) 0%, var(--steel-blue-950) 100%);
}

.job {
  padding: 4rem 0 0 0;
}

.job:first-of-type {
  padding: 0;
}

.company {
  font-size: 3rem;
  font-weight: 500;
  color: var(--steel-grey);
}

.position-expert {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--steel-grey-2);
}

.role {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--steel-blue-300);
}

.calendar {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--steel-blue-200);
}

/* education section */

.education {
  background-image: linear-gradient(180deg, var(--steel-blue-950) 100%, var(--steel-blue-950) 100%);
}

/* languages section */

.languages {
  background-image: linear-gradient(180deg, var(--steel-blue-950) 100%, var(--steel-blue-950) 50%);
}

.course {
  padding: 0 0 4rem 0;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--steel-blue-200);
}

.courseinfo {
  font-size: 2rem;
  font-weight: 200;
  color: var(--steel-blue-50);
}

/* courses section */

.courses {
  background-image: linear-gradient(180deg, var(--steel-blue-950) 50%, var(--steel-black) 100%);
}

/* main-interests */

.main-interests {
  background-image: linear-gradient(180deg, var(--steel-black) 100%, var(--steel-black) 100%);
}

.main-interests > p:last-of-type {
  padding-bottom: 300px;
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  background: var(--steel-blue-950);
  border-top: 4px solid var(--steel-blue-600);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}


/* old */

#contact input[type='submit'] {
  background-color: var(--steel-blue-700);
  color: var(--steel-blue-50);
  font-size: 2rem;
  font-weight: 600;
  max-width: 200px;
  width: 100%;
  height: 2em;
  margin: 20px 0;
  border: 0;
  border-radius: 5px;
}

#contact input[type='submit']:hover {
  background-color: var(--steel-blue-100);
  color: var(--steel-blue-700);
  transition: background-color 1s;
}




.myskills {
  line-height: 2;
  padding: 10px 10% 10px 10%;
  background-image: linear-gradient(0deg, var(--steel-blue-950) 0%, var(--steel-blue-700) 100%);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.progress {
  height: 20px;
  width: 250%;
  border: 1px solid var(--steel-blue-500);
  border-radius: 11px;
  background-color: #e6f3fa;
  margin-bottom: 15px;
}

.progress-bar {
  height: 100%;
  background: var(--steel-blue-400);
  display: flex;
  align-items: center;
  transition: width 0.25s;
  border-radius:10px;
}

.progress-bar-text {
  margin-left: 8px;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--steel-blue-950);
}


/* Responsive
*/

/* I am using the em unit for breakpoints
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 55%;
    
  }

  body {
    font-size: 2em;
    overflow: auto;
  } 
  
  h1 {
    font-size: 8rem;
  }

}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 50%;
  }

  body {
    font-size: 2.2em;
    overflow: auto;
  } 
  
  h1 {
    font-size: 7rem;
  }

  #navbar {
    height: 0%;
  }

  .section > p {
    font-size: 2.2rem;
  }

  .section {
    padding: 100px 5% 10px 5%;
  }

  /* Sections */

  .about {
    height: auto;
  }

  .about-skills {
    flex-direction: column;
    font-weight: 200;
  }

  .abskills {
    width: auto;
    margin: 5rem 0 0 0;
  }
  
  /* Contact section */

  .contact {
    height: auto;
  }
  .contact-links {
    flex-direction: column;
  }

  .experience {
  }

  .education {
  }

  .languages {
  }

  .courses {
  }

  .main-interests {
  }


  .skills {
    flex-wrap: nowrap;
    height: 200vh;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

}

@media print {

  :root {
    --steel-blue-50: #0a87bd;
    --steel-blue-100: #0a87bd;
    --steel-blue-200: #0c5b80;
    --steel-blue-300: #0c5b80;
    --steel-blue-400: #0c5b80;
    --steel-blue-500: #0c5b80;
    --steel-blue-600: #104c6a;
    --steel-blue-700: #104c6a;
    --steel-blue-800: #104c6a;
    --steel-blue-900: #0b3046;
    --steel-blue-950: #0b3046;
    --steel-grey: #636363;
    --steel-grey-2: #2e2e2e;
    --steel-black: #181719;
  }

  html {
    font-size: 50%;
    margin: 30px 20px 20px 40px;
  }

  body {
    font-size: 2em;
    overflow: auto;
  } 
  
  header {
    opacity: 0%;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
    padding: 20px 0;
  }

  h3 {
    font-size: 2.8rem;
    margin: 10px 0;
  }

  #navbar {
    height: 0%;
    width: 0%;
  }

  /* Sections */

  .section {
    padding: 50px 5% 10px 5%;
    line-height: 1.2;
  }

  .section > p {
    font-size: 1.8rem;
  }


  /* Sections */

  .about {
    height: auto;
  }

  .about-skills {
    flex-direction: row;
    font-weight: 200;
    margin-top: 2rem;
  }

 
  .abskills {
    width: auto;
    margin: 0 0 0 1rem;
  }
  
  
  /* Contact section */

  .contact {
    height: auto;
  }
  .contact-links {
    flex-direction: column;
  }

  .experience {
  }

  .education {
  }

  .languages {
  }

  .courses {
  }

  .main-interests {
  }

  .skills {
    flex-wrap: nowrap;
    height: 200vh;
  }

  footer {
    opacity: 0%;
  }
}