/* Color Palette
/*https://uicolors.app/
--steel-blue-50: #f1f9fe;
--steel-blue-100: #e1f3fd;
--steel-blue-200: #bde7fa;
--steel-blue-300: #82d5f7;
--steel-blue-400: #40c1f0;
--steel-blue-500: #17aae0;
--steel-blue-600: #0a87bd;
--steel-blue-700: #096d9b;
--steel-blue-800: #0c5b80;
--steel-blue-900: #104c6a;
--steel-blue-950: #0b3046;
*/

/* Global styles
---------------------------------*/

/* Custom properties/variables  */
:root {
  --steel-blue-50: #f0f1fd;
  --steel-blue-100: #e3e5fc;
  --steel-blue-200: #cccef9;
  --steel-blue-300: #aeb0f3;
  --steel-blue-400: #928dec;
  --steel-blue-500: #8071e3;
  --steel-blue-600: #6b50d4;
  --steel-blue-700: #6046bc;
  --steel-blue-800: #4f3b98;
  --steel-blue-900: #433679;
  --steel-blue-950: #282046;
  --steel-grey: #f5f6fa;
  --steel-grey-2: #5c5962;
  --steel-black: #181719;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Base styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: black;
}

h1,
h2
h3 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 8rem;
  text-align: left;
  line-height: 1.1;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  text-align: center;
  /*color: var(--steel-blue-800);*/
  padding: 12px 0 25px 0;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  color: var(--steel-blue-700);
  margin: 10px 0 10px 0;
  border-bottom: 2px solid var(--steel-blue-400);
  white-space: nowrap;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--steel-blue-500);
}

img {
  display: block;
  width: 100%;
}

header {
  margin: 10px;
  text-align: left;
  font-size: 1.3em;
  /* font-weight: bold; */
}

#main-doc header {
  text-align: left;
  /* margin: 15px;*/
}

.fm-text {
  font-size: 3rem;
  font-weight: 600;
  margin-left: 0.1em;
  color: var(--steel-black);
}

.css-fm-text {
  color: var(--steel-blue-800);
}

/* nav */

#navbar {
  position: fixed;
  min-width: 220px;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 100%;
  background-color: var(--steel-grey);
  border-right: solid;
  border-color: var(--steel-blue-50);
}

#navbar ul {
  height: 75%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}

#navbar li {
  position: relative;
  color: #4f5053;
  border-top: 0px solid;
  list-style: none;
  width: 100%;
}

#navbar li:hover {
  background-color: var(--steel-blue-200);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--steel-blue-50);
}

::-webkit-scrollbar-thumb {
  background-color: var(--steel-blue-200);
}

::-webkit-scrollbar-button {
  background-color: var(--steel-blue-50);
}

::-webkit-scrollbar-corner {
  background-color: var(--steel-blue-50);
}

#navbar a {
  display: block;
  padding: 20px 20px;
  color: var(--steel-blue-500);
  cursor: pointer;
  text-decoration: none;
}

.position {
  line-height: 1.1;
  padding-top: 15px;
  font-size: 3rem;
  font-weight: 600;
  color: var(--steel-blue-600);
}

/* General section */

section {
  height: auto;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  width: 100%;
  line-height: 1.5;
  padding: 50px 10% 10px 290px;
  background-color: #000;
}

.section > p {
  font-size: 2rem;
  font-weight: 200;
  font-style: normal;
}

/* Sections */

/* about section */

.about {
  background-image: linear-gradient(180deg, white 0%, white 100%);
}

.about-print {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  flex-wrap: nowrap;
  width: 100%;
}

.iticons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem 14rem 2rem 8rem;
}

.p-1 {
  max-width: 100px;
  height: 30px;
  padding: 5px;
}

.about-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 1.9rem;
  font-weight: 300;
  color: var(--steel-grey-2);
  margin-top: 2rem;
  flex-wrap: nowrap;

}

.abskills {
  margin: 0 0 0 5rem;
  color: var(--steel-blue-900);
  width: 50em;
  font-size: 2rem;
}

.abskills-detail {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 0.5;
}

/* Contact section */

.contact {
  background-image: linear-gradient(180deg, white 0%, white 100%);
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 1px 1px 1px var(--steel-grey-2);
  transition: transform 0.3s ease-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  margin: 0.5em;
}

.contact-details:hover {
  transform: translateY(8px);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--steel-blue-900);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--steel-blue-600);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}


/* experience section */

.experience {
  background-image: linear-gradient(180deg, white 0%, white 100%);
}

.job {
  padding: 2rem 0 0 0;
  white-space: nowrap;
}

.job:first-of-type {
  padding: 0;
}

.company {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--steel-blue-900);
  white-space: nowrap;
}

.position-expert {
  font-size: 2.3rem;
  font-weight: 600;
  color: var(--steel-grey-2);
  white-space: nowrap;
}

.role {
  font-size: 1.8rem;
  font-weight: 400;
}

.calendar {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--steel-blue-600);
  padding: 0 0 3rem 0;
  white-space: nowrap;
}

.fa-calendar, .fa-globe {
  color: var(--steel-blue-600) !important;
}

/* education section */

.education {
  background-image: linear-gradient(180deg, white 100%, white 100%);
}

/* languages section */

.languages {
  background-image: linear-gradient(180deg, white 0%, white 100%);
}

.course {
  padding: 0 0 2rem 0;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--steel-blue-900);
}

.courseinfo {
  font-size: 2rem;
  font-weight: 200;
  color: var(--steel-blue-800);
}

.completion {
  font-size: 1.8rem;
  font-weight: 500;
  font-style: oblique;
  color: var(--steel-black);
  background-color: var(--steel-blue-400);
  border-radius: 10%;
  padding: 0 5px 0 5px;
}

.pending {
  font-size: 1.8rem;
  font-weight: 500;
  font-style: oblique;
  color: var(--steel-black);
  background-color: var(--steel-blue-200);
  border-radius: 10%;
  padding: 0 5px 0 5px;
}


/* courses section */

.courses {
  background-image: linear-gradient(180deg, white 50%, white 100%);
}

/* main-interests */

.main-interests {
  background-image: linear-gradient(180deg, white 100%, white 100%);
  height: auto;
}

.main-interests > p:last-of-type {
  padding-bottom: 200px;
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  background: var(--steel-blue-300);
  border-top: 4px solid var(--steel-blue-400);
}

footer > p {
  margin: 2.5rem;
  font-weight: 500;
}

footer i {
  vertical-align: middle;
  color: var(--steel-blue-600);
}


/* button */

#about a {
  background-color: var(--steel-blue-600);
  color: var(--steel-blue-50);
  font-size: 2.5rem;
  font-weight: 500;
  max-width: 280px;
  width: 100%;
  height: 1.8em;
  margin: 20px 0 0 0;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 0.25em 0 0 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#about a:hover {
  background-color: var(--steel-blue-200);
  color: var(--steel-blue-900);
  transition: background-color 1s;
}


/* skills */

.myskills {
  line-height: 2;
  padding: 50px 10% 10px 290px;
  background-image: linear-gradient(0deg, white 0%, white 100%);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 130vh;
}

.progress {
  height: 20px;
  width: 250px;
  border: 1px solid var(--steel-blue-500);
  border-radius: 11px;
  background-color: #e6f3fa;
  margin-bottom: 15px;
}

.progress-bar {
  height: 100%;
  background: var(--steel-blue-400);
  display: flex;
  align-items: center;
  transition: width 0.25s;
  border-radius:10px;
}

.titlemargin {
  margin-top: 40px;
}

.titleskills {
  font-size: 1.3em;
  font-weight: 400;
  color: var(--steel-black);
}

#skills p {
  font-size: 0.8em;
  font-weight: 300;
  color: var(--steel-blue-500);
}

.progress-bar-text {
  margin: 2px 0 0 8px;
  font-size: 0.8em;
  font-weight: 500;
  color: var(--steel-blue-50);
}


/* Responsive
*/

/* I am using the em unit for breakpoints
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }

  .skills {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 130vh;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 55%;
    
  }

  body {
    font-size: 2em;
    overflow: auto;
  } 
  
  h1 {
    font-size: 8rem;
  }

 
  .about-print {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .iticons {
    padding: 3rem 0;
    justify-content: flex-end;
  }

  .skills {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
  }

}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 50%;
  }

  body {
    font-size: 2.8em;
    overflow: auto;
  } 
  
  h1 {
    font-size: 7rem;
  }

  h1 span {
    font-size: 6.5rem;
  }

  h2 {
    font-size: 3.5rem;
    font-weight: 400;
  }

  h3 {
    font-size: 3rem;
    margin: 9px 0 10px 0;
    font-weight: 300;
    color: var(--steel-blue-900);
    border-bottom: 1px solid var(--steel-blue-200);
  }

  .whitespace {
    white-space: nowrap;
  }

  header {
    margin: 0 0 0 15px;
  }

  .fm-text {
    color: var(--steel-blue-100);
  }
  
  .css-fm-text {
    color: var(--steel-blue-200);
  }

  #navbar {
    height: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--steel-blue-900);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    opacity: 90%;
  }
    
  #navbar ul {
    visibility: hidden;
  }
  
  #navbar li {
    visibility: hidden;
  }

  #navbar a {
    padding: 0;
  }

  .section > p {
    font-size: 2.8rem;
  }

  .section {
    padding: 100px 5% 10px 5%;
  }

  /* Sections */

  .position {
    color: var(--steel-blue-600);
    font-size: 3.5rem;
  }

  .iticons {
    padding: 3rem 0;
    justify-content: flex-start;
  }

  .about {
    height: auto;
  }

  .about-skills {
    flex-direction: column;
    font-size: 2.6rem;
    font-weight: 300;
  }

  .abskills {
    width: auto;
    margin: 2rem 0 2rem 0;
    color: var(--steel-blue-900);
  }

  .abskills-detail {
    font-size: 2rem;
    font-weight: 300;
    line-height: 0.5;
  }

  /* button */

  #about a {
    font-size: 3rem;
    font-weight: 600;
    height: 60px;
    max-width: 250px;
    padding: 10px 0 0 0;
  }

  /* Contact section */

  .contact {
    height: auto;
  }

  .contact-details {
    font-size: 3.5rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12), 0 5px 12px rgba(0, 0, 0, 0.08);
  }
  .contact-links {
    flex-direction: column;
    max-width: 280px;
  }

  .experience h3 {
    padding-bottom: 0;
  }

  .job {
    padding: 2.5rem 0 0 0;
    white-space: nowrap;
  }

  /* Line break for mobile */

  .job .linebreak {
    font-size: 0;
    display: block;
  }

  .company {
    font-size: 3rem;
    font-weight: 500;
  }

  .calendar {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--steel-blue-800) !important;
    white-space: nowrap;
  }

  .fa-calendar, .fa-globe {
    color: var(--steel-blue-800) !important;
  }

  .education {
  }

  .title {
    font-size: 2.4rem;
    font-weight: 300;
    color: var(--steel-blue-950);
  }
  
  .courseinfo {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--steel-black);
  }

  .languages {
  }

  .courses {
  }

  .main-interests {
  }


  .skills {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: auto;
  }

  .myskills {
    padding: 10px 10% 5px 5%;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }


}

/* Print Responsive */

@page {
  size: A4;
  margin: 0;
}

@media print {

  :root {
    --steel-blue-50: #f0f1fd;
    --steel-blue-100: #e3e5fc;
    --steel-blue-200: #cccef9;
    --steel-blue-300: #aeb0f3;
    --steel-blue-400: #928dec;
    --steel-blue-500: #8071e3;
    --steel-blue-600: #6b50d4;
    --steel-blue-700: #6046bc;
    --steel-blue-800: #4f3b98;
    --steel-blue-900: #433679;
    --steel-blue-950: #282046;
    --steel-grey: #f5f6fa;
    --steel-grey-2: #5c5962;
    --steel-black: #181719;
  }


  html {
    font-size: 45%;
    size: A4 portrait;
    /*margin: 15px 5px 10px 15px;*/
  }

  body {
    font-family: 'Lato', 'Poppins', sans-serif;
    font-size: 1.4em;
    overflow: auto;
  } 
  
  header {
    opacity: 0%;
  }

  h1 {
    font-size: 4.2rem;
    margin-top: 15px;
  }

  h1 span {
    font-size: 4.2rem;
  }

  .introduce {
    width: 700px;
  }

  h2 {
    font-size: 2.5rem;
    padding: 5px 0 9px 0;
    font-weight: 200;
    color: var(--steel-black);
  }

  h3 {
    font-size: 1.8rem;
    margin: 9px 0 10px 0;
    font-weight: 400;
    color: var(--steel-blue-900);
    border-bottom: 1px solid var(--steel-blue-200);
  }

  #navbar {
    height: 0%;
    width: 0%;
  }

  .position {
    color: var(--steel-blue-500);
    font-size: 3.4rem;
  }

  /* Sections */

  .section {
    padding: 5px 5% 0 5%;
    line-height: 1.4;
    background-image: white;
  }

  .section > p {
    font-size: 1.8rem;
  }


  /* Sections */

  .about {
    background-image: linear-gradient(180deg, white 0%, white 100%);
  }

  .about-print {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-wrap: nowrap;
    width: 100%;
  }

  .iticons {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 4rem 8rem 2rem 2rem;
  }

  .p-1 {
    max-width: 60px;
    height: 20px;
    padding: 3px;
  }

  #about a {
    visibility: hidden;
    max-width: 0;
    width: 0%;
    height: 0em;
    font-size: 0rem;
  }

  .about-skills {
    flex-direction: row;
    justify-content: space-around;
    font-weight: 400;
    margin-top: 0;
    font-size: 1.6rem;
  }

  .abskills {
    max-width: 200px;
    margin: 0 0 0 3rem;
    font-size: 1.6rem;
    color: var(--steel-black);
  }
  
  /* Contact section */

  .contact {
    height: auto;
    background-image: linear-gradient(180deg, white 0%, white 100%);
  }

  #contact h2 {
    color: var(--steel-black)
  }

  #contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
  }

  .contact-links {
    flex-direction: row;
    margin: 0 0 0 0;
    max-width: 980px;
  }

  .contact-details {
    font-size: 1.3rem;
    text-shadow: 0 0 0 #1f1f1f;
  }

  .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
  }

  .btn-show-all {
    font-size: 1.5rem;
  }

  /* blockprint section */

  .block-print {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    flex-wrap: nowrap;
    width: 100%;
    /* padding: 16px; */
  }
  
  .block-print-one {
    width: 55vw;
    height: auto;
    z-index: 1;
  }
  
  .block-print-two {
    width: auto;
    height: auto;
    z-index: 0;
  }

  /* experience section */
  /* 
  .experience > p, .education > p, .languages > p {
    padding: 0 0 0 5px;
  }
  */

  .experience {
    padding: 10px 0 0 38px;
    background-image: linear-gradient(180deg, white 0%, white 100%);
  }

  .job {
    padding: 0.9rem 0 0 0;
  }

  .company {
    font-size: 2rem;
    font-weight: 500;
    color: var(--steel-blue-950);
  }

  .position-expert {
    font-size: 2rem;
    font-weight: 400;
  }

  .role {
    font-size: 1.4rem;
    font-weight: 400;
  }

  .calendar {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--steel-blue-800) !important;
  }

  .fa-calendar, .fa-globe {
    color: var(--steel-blue-800) !important;
  }

  .fa {
    color: var(--steel-blue-700);
  }

  .fa-mobile, .fa-map-marker {
    color: var(--steel-blue-700);
  }


/* education section */

  .education {
    padding: 12px 0 0 38px;
    background-image: linear-gradient(180deg, white 0%, white 100%);
  }

  /* languages section */

  .languages {
    padding: 12px 0 0 38px;
    background-image: linear-gradient(180deg, white 0%, white 100%);

  }

  .languages > p {
    line-height: 1;
  }

  /* courses section */

  .courses {
    background-image: linear-gradient(90deg, white 0%, white 100%);
  }

  #courses > h2 {
    padding: 13px 0 4px 0;
  }

  .course {
    padding: 0 0 10px 0;
  }

  .title {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--steel-blue-950);
  }

  .courseinfo {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--steel-black);
  }

  .completion {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0 5px 0 5px;
    border: 1px solid var(--steel-blue-300);
    background-color: var(--steel-blue-300);
    border-radius: 7px;
  }
  
  .pending {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0 5px 0 5px;
    border: 1px solid var(--steel-blue-200);
    background-color: var(--steel-blue-200);
    border-radius: 7px;
    
  }

  /* skills */

  .myskills {
    background-image: linear-gradient(0deg, white 0%, white 100%);
    padding: 20px 10% 20px 50px;
  }

  .progress-block > p {
    color: var(--steel-blue-700);
  }

  .skills {
    justify-content: space-around;
    width: 100%;
    height: auto;
  }

  .progress {
    height: 15px;
    width: 180px;
    border: 1px solid var(--steel-blue-600);
    background-color: #e6f3fa;
    border-radius: 7px;
    margin-bottom: 10px;
  }

  .progress-bar {
    background: var(--steel-blue-500);
    border-radius: 6px;
    border: 1px solid var(--steel-blue-500);
  }

  .titlemargin {
    margin-top: 30px;
  }
  
  .titleskills {
    font-size: 1.4em;
    font-weight: 600;
    color: var(--steel-black);
  }
  
  #skills p {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--steel-blue-900);
  }

  .progress-bar-text {
    margin-left: 8px;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
  }

  /* main-interests */

  .main-interests {
    padding-top: 15px;
    background-image: linear-gradient(180deg, white 0%, white 100%);
    color: white;
  }

  #achievements > h2 {
    padding: 15px 0 0px 0;
  }

  .main-interests > p:first-of-type {
    padding-top: 25px;
  }

  .main-interests > p:last-of-type {
    padding-bottom: 56px;
  }

  .main-interests > p {
    padding: 0 0 0 5px;
  }

  footer {
    color: var(--steel-blue-700);
    background: var(--steel-grey);
    border-top: 0 solid var(--steel-grey);
    border-bottom: 3px solid var(--steel-blue-300);
    font-size: 1.5em;
    font-weight: 400;
    padding: 25px 2rem 3.6rem 1rem;
  }
} 
